{% extends "base.html" %}
{% block title %}About | NBHS Programming Club{% endblock %}
{% block content %}
<h1>NBHS Coding Club</h1>
<p>The Normanhurst Boys Programming Club is a student-led initiative dedicated to building coding skills, creativity, and problem-solving abilities. 
    The club is about to provide a collaborative environment where students of all skills levels - from beginners to advanced programmers - can develop projects, learn new technologies, and support each other in their coding journey.
    We focus on hands-on learning through activities such as algorithm challenges, web development, game programming, cybersecurity, and participation in tech competitions..</p>
{% endblock %}