{% extends "base.html" %}
{% block title %}Home | NBHS Programming Club{% endblock %}
{% block content %}
    <section class="hero">
        <h1>NBHS Coding Club</h1>
        <p>
            Run by programmers, we encourage aspiring young coders to develop skills 
            and practices to improve programming capability.
        </p>
    </section>
    <h2>Cybersecurity Unit</h2>

<div class="week-card-container">

    <a class="week-card" href="https://docs.google.com/presentation/d/1oOgAZiBkFWeEGfIVvrVPyuc9OWtyN4NxjFAghf7Kr_g/edit?slide=id.p#slide=id.p" target="_blank">Week 1</a>

    <a class="week-card" href="https://docs.google.com/presentation/d/1gM9fpvCEH4h7dDwfasrmMHogdAzPZQUAiCwq-jf0JNs/edit?slide=id.p#slide=id.p" target="_blank">Week 2</a>

    <a class="week-card" href="https://docs.google.com/presentation/d/1gM9fpvCEH4h7dDwfasrmMHogdAzPZQUAiCwq-jf0JNs/edit?usp=sharing" target="_blank">Week 3</a>

    <a class="week-card" href="https://docs.google.com/presentation/d/1NYlSu4VNsk_-3PszE3AdBPKGa1F7tBgVkM6syu65bt4/edit" target="_blank">Week 4</a>

    <a class="week-card" href="https://docs.google.com/presentation/d/1R4wqQSz8fq6bEzXZ93eoAATYsfRtXXY-kvbcC3krcUk/edit?usp=sharing" target="_blank">Week 6</a>

    <a class="week-card" href="https://docs.google.com/presentation/d/13FOMaZgs9dh1E6I8p1gA4x7IN7JU3jHxUmcF_M1qVLo/edit?usp=sharing" target="_blank">Week 9</a>

</div>
{% endblock %}