<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NBHS Programming Club | About</title>`
        <meta charset="utf-8">
        <nav>
            <a href="#"><img src="normo logo.png" alt="NBHS Logo"></a>
            <h1>Coding Club</h1>
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="comps.html">Competitions</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </head>

    <body>
        <h1>NBHS Coding Club</h1>
        <!-- this -->
        <p>Run by programmers, we encourage aspiring young coders to develop skills and practices to improve programming capability.</p>
    </body>
</html>